.span8.offset2
  %h2 Sign up
  = form_for(resource, :as => resource_name,
                       :url => registration_path(resource_name),
                       :html => { :class => 'form-horizontal' }) do |f|
    = devise_error_messages!

    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email, :autofocus => true

    .control-group
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password

    .control-group
      = f.label :password_confirmation, :class => 'control-label'
      .controls
        = f.password_field :password_confirmation

    .control-group
      .controls
        = f.check_box :knows_cpr
        = f.label :knows_cpr, "I know CPR!", :class => 'checkbox inline'

    .control-group
      = f.label :street, :class => 'control-label'
      .controls
        = f.text_field :street

    .control-group
      = f.label :city, :class => 'control-label'
      .controls
        = f.text_field :city

    .control-group
      = f.label :state, :class => 'control-label'
      .controls
        = f.text_field :state

    .control-group
      .controls
        = f.submit "Sign up", :class => 'btn btn-primary'

  = render "devise/shared/links"
